.App {
  text-align: center;
  background-color: blueviolet;
}
.label {
  display: block;
  font-size: larger;
  color: beige;
  padding: 5px;
}
.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
}

.btn {
  color: white;
  background-color: blue;
  text-align: center;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px;
}
